*{
    margin: 0;
    padding: 0;
}

body {background: black;}

.logo:hover {
    cursor: pointer;
}

.logo {
    font-weight: 700;
    font-size: 60px;
    color: white;
}

li.text:hover {
    cursor: pointer;
    /* border: 3px solid white; */
    /* width: 55px; */
    /* height: 40px; */
    border-radius: 10px;
    background: white;
    color: red !important;
    transition: 0.3s;
}

li.text {/* background: red; */width: 50px;height: 35px;text-align: center;font-weight: 500;color: white !important;}

li.text {
    margin-left: 150px;
}



ul.list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    /* background: blanchedalmond; */
    line-height: 35px;
    padding: 12px;
}
